body {
	display: flex;
	
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: #1c3d8e;
}

.countdown {
	display: flex;

	align-items: center;
	justify-content: center;
	align-items: center;
	margin-left: 25%;
	margin-top: 10%;
	top: 0;
	padding: 0;
}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: sans-serif;
	padding: 0 30px;
	border-right: 1px solid #fff;
	user-select: none;
}

.time-section:last-child {
	border: none;
}

.count {
	font-size: 50px;
}

.units {
	font-size: 30px;
}